.contentBox{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.post{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.id{
  font-size: 25px;
  color: darkred;
}
.title{
  margin-left: 5px;
  font-size: 35px;
  color: blueviolet;
  display: inline-block;
  &::first-letter{
    text-transform: uppercase;
  }
}
.body{
  margin-top: 15px;
  font-size: 30px;
  color: green;
  display: inline-block;
  &::first-letter{
    text-transform: uppercase;
  }
}

button{
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #223eb2;
  background-color: #a6ec68;
  padding: 5px 10px;
  &:hover{
    opacity: .5;
  }
}
