<section>
  <form class="authForm" [formGroup]="auth" (ngSubmit)="onAuth()">
    <mat-form-field class="full-width">
      <mat-label>Логин</mat-label>
      <input (focus)="confirm = false" type="text" formControlName="login" matInput>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>Пароль</mat-label>
      <input (focus)="confirm = false" type="password" formControlName="password" matInput>
    </mat-form-field>
    <button class="full-width" mat-stroked-button color="accent" type="button" (click)="register()">Зарегистрироваться
    </button>
    <button class="full-width" mat-raised-button color="primary" type="submit">Авторизоваться
    </button>
  </form>
  <p *ngIf="confirm" style="color: green; margin-top: 10px;">Вы успешно зарегистрировались</p>
</section>
