.contentBox{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}

.post{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.id{
  font-size: 25px;
  color: darkred;
}
.title{
  margin-left: 5px;
  font-size: 35px;
  color: blueviolet;
  display: inline-block;
}
.body{
  margin-top: 15px;
  font-size: 30px;
  color: green;
  display: inline-block;
}

